<template>
  <v-container>
    <v-layout v-if="isMyArticle">
      <v-spacer/>
      <v-menu
        transition="slide-x-transition"
        bottom
        left>
        <v-btn
          slot="activator"
          icon>
          <v-icon>more_vert</v-icon>
        </v-btn>

        <v-list>
          <v-list-tile @click="onClickEdit">
            <v-list-tile-action>
              <v-icon>edit</v-icon>
            </v-list-tile-action>
            <v-list-tile-sub-title>編集</v-list-tile-sub-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-layout>
    <v-card
      flat>
      <v-card-text>
        <h2 class="display-1 py-5">{{ title }}</h2>
        <div v-if="existTags">
          <v-chip
            v-for="tag in tags"
            :key="tag"
            color="primary"
            dark
            outline
            label
            @click="onClickTag(tag)">{{ tag }}</v-chip>
        </div>
        <div class="py-2">
          <span class="text--secondary">{{ updatedAt | prettyDateTime }}</span>
          <span
            class="text--secondary"> Posted by
            <span
              depressed
              color="secondary"
              text-color="white"
              label
              @click="onClickAuthor">{{ author.name }}</span></span>
        </div>
        <markdown-html
          v-model="body"
          class="pt-3"/>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import MarkdownHtml from '@/components/MarkdownHtml'
import { mapGetters } from 'vuex'
export default {
  components: {
    MarkdownHtml
  },
  data() {
    return {}
  },
  computed: {
    isMyArticle() {
      if (!this.tokenObject) return false
      const myId = this.tokenObject.userId
      return this.author.id === myId
    },
    existTags() {
      if (this.tags) return true
      return false
    },
    ...mapGetters('auth', ['tokenObject'])
  },
  async asyncData({ app, params, error, redirect, store }) {
    const articleId = params['id']
    const response = await app.$axios
      .$get(`/articles/${articleId}/`)
      .then(res => {
        return res
      })
      .catch(e => {
        const res = e.response
        if (!res) {
          console.log('no response')
          console.log(e)
          return
        }
        const status = res.status
        if (status === 401) redirect('/login')
        console.log(status)
      })
    if (response) {
      response['articleId'] = articleId
      return response
    }
    error({
      statusCode: 404,
      message: '対象の記事が見つかりませんでした…ごめんなさい… ;('
    })
  },
  methods: {
    onClickEdit() {
      this.$router.push(`/drafts/${this.articleId}/edit`)
    },
    onClickTag(tag) {
      this.$router.push(`/articles/?tag=${tag}`)
    },
    onClickAuthor() {
      this.$router.push('/' + this.author.name)
    }
  }
}
</script>
