<template>
  <div>
    <v-jumbotron
      height="200px">
      <v-container fill-height>
        <v-layout
          fill-height
          column
          justify-center>
          <div>
            <h1 class="display-1">TAG
              <v-chip
                outline
                label>{{ tag }}</v-chip></h1>
          </div>
        </v-layout>
      </v-container>
    </v-jumbotron>
    <v-container
      grid-list-md
      class="pt-0"
      style="margin-top: -50px">
      <v-layout
        row
        wrap>
        <v-flex
          v-for="item in articles"
          :key="item.id"
          sm6
          xs12>
          <article-card
            :value="item"/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ArticleCard from '@/components/ArticleCard'
export default {
  components: { ArticleCard },
  // これを入れないと query が変わった時に page transition が動作しない
  key: to => to.fullPath,
  // これを入れないと query parameter だけが変化した時に再ロードされない
  watchQuery: ['tag'],
  async asyncData({ app, query }) {
    let retval = Object.assign({}, query)
    const url = query['tag'] ? '/tags/' + query['tag'] + '/' : '/articles'
    retval['articles'] = await app.$axios.$get(url).then(res => res.results)
    return retval
  }
}
</script>
