<template>
  <v-dialog
    v-model="showDialog"
    width="500px">
    <v-card>
      <v-form ref="form">
        <v-container>
          <v-text-field
            v-model="localValue.profileName"
            prepend-icon="face"
            label="プロフィール"/>
          <v-textarea
            :rules="bioRules"
            v-model="localValue.bio"
            counter="200"
            style="padding-left: 32px"
            label="自己紹介"/>
          <v-text-field
            v-model="localValue.url"
            prepend-icon="public"
            label="url"/>
          <v-text-field
            v-model="localValue.location"
            prepend-icon="place"
            label="場所"/>
        </v-container>
      </v-form>
      <v-card-actions>
        <v-btn
          :loading="loading"
          depressed
          color="accent"
          @click="onClickSave">save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
function lengthRule(max) {
  return v => {
    if (!v) return true
    return v.length < max || `文字は${max}以内で入力してください`
  }
}

export default {
  props: {
    value: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      showDialog: false,
      localValue: {},
      loading: false,
      bioRules: [lengthRule(200)]
    }
  },
  methods: {
    close() {
      this.showDialog = false
    },
    show() {
      this.localValue = Object.assign({}, this.value)
      this.showDialog = true
    },
    onClickSave() {
      if (this.loading) return
      if (!this.$refs.form.validate()) return

      this.loading = true
      this.$axios
        .$post('/accounts/me/', this.localValue)
        .then(res => {
          this.$emit('input', res)
          this.close()
        })
        .finally(() => {
          this.loading = false
        })
    }
  }
}
</script>
