<template>
  <div>
    <v-flex
      xs12
      style="height: 200px">
      <v-layout
        fill-height
        justify-center
        align-center>
        <v-avatar size="100">
          <v-icon size="100">face</v-icon>
        </v-avatar>
      </v-layout>
    </v-flex>
    <v-toolbar
      dense
      class="transparent"
      flat>
      <v-spacer/>
      <v-icon @click="onClickEdit">edit</v-icon>
    </v-toolbar>
    <v-divider/>
    <v-list
      v-if="value">
      <v-list-tile
        v-for="item in accountItems"
        :key="item.text">
        <v-list-tile-action>
          <v-icon v-if="item.icon">{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ item.value | dummyText }}</v-list-tile-title>
          <v-list-tile-sub-title>{{ item.text }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <account-edit-dialog
      ref="dialog"
      :value="value"
      v-on="$listeners"/>
  </div>
</template>

<script>
import AccountEditDialog from '@/components/AccountEditDialog'

export default {
  components: {
    AccountEditDialog
  },
  props: {
    value: {
      type: Object,
      default: null
    }
  },
  computed: {
    accountItems() {
      if (!this.value) return []
      return [
        { value: this.value.profileName, text: 'プロフィール' },
        { value: this.value.bio, text: 'Bio' },
        { value: this.value.location, text: '場所', icon: 'place' },
        { value: this.value.url, text: 'url', icon: 'public' }
      ]
    }
  },
  methods: {
    onClickEdit() {
      this.$refs.dialog.show()
    },
    onUpdate(v) {
      this.value = v
    }
  }
}
</script>
