<template>
  <article
    class="article-panel"
    tag="article"
    @click="onClickArticle">
    <div class="article-card">
      <div class="article-card__header">
        <h3 class="article-card__header__title">{{ title }}</h3>
      </div>
      <div class="article-card__description">{{ description }}</div>
      <div>
        <el-tag
          v-for="tag in tags"
          :key="tag"
          style="margin-right: 5px"
          @click.native.stop="onClickTag(tag)">{{ tag }}</el-tag>
      </div>
    </div>
  </article>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: null
    },
    tags: {
      type: Array,
      default: () => []
    },
    description: {
      type: String,
      default: null
    },
    id: {
      type: Number,
      default: null
    },
    author: {
      type: Object,
      default: null
    }
  },
  computed: {
    to() {
      return `/articles/${this.id}`
    }
  },
  methods: {
    onClickTag(tag) {
      this.$router.push(`/articles/?tag=${tag}`)
    },
    onClickArticle() {
      this.$router.push(this.to)
    }
  }
}
</script>

<style>
.article-panel {
  padding: 3px 0;
  width: 100%;
  cursor: pointer;
}

.article-card {
  border: solid 1px #ddd;
  padding: 0.5rem;
  border-radius: 3px;
  transition: all 0.3s ease-out;
}

.article-card:hover {
  box-shadow: 0 0 1px 1px #ddd;
}

.article-card__description {
  color: #666565;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}

.article-card__header__title {
  font-weight: 400;
  font-size: 1.1rem;
}
</style>
