<template>
  <v-container
    class="article-editor__container pa-2">
    <v-layout
      column>
      <v-flex style="display: flex; flex-grow: 0">
        <v-spacer/>
        <v-btn
          :disabled="!canPost"
          depressed
          color="primary"
          class="btn"
          @click="onPost"><v-icon left>save</v-icon>ほぞん</v-btn>
      </v-flex>
      <header class="draft__header">
        <div class="draft__header__title">
          <span style="margin-left: auto"/>
          <span
            v-if="notification"
            class="draft__header__notify"
            style="">{{ notification.message }}</span>
        </div>
        <v-text-field
          v-model="title"
          label="Title"/>
        <div class="tag-container">
          <tags-field
            v-model="tags"/>
        </div>
        <div class="draft__header__row">
          <v-btn-toggle
            v-model="editorMode"
            mandatory>
            <v-btn
              value="edit"
              depressed>
              Edit
            </v-btn>
            <v-btn
              value="preview"
              depressed>
              Preview
            </v-btn>
          </v-btn-toggle>
        </div>
      </header>
      <section class="draft__body py-2">
        <div :class="panelClass">
          <textarea
            v-model="bodyText"
            style="width: 100%; height: 100%"
            class="noto pa-2"/>
        </div>
        <div :class="panelClass">
          <div
            style="height: 100%; width: 100%; overflow-y: scroll"
            class="pa-2">
            <markdown-html :value="bodyText" />
          </div>
        </div>
      </section>
      <v-flex style="flex-grow: 0">
        <v-btn
          :disabled="!canPost"
          depressed
          color="primary"
          class="btn"
          @click="onPost">ほぞん！</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import MarkdownHtml from '@/components/MarkdownHtml'
import TagsField from '@/components/TagsField'
export default {
  components: {
    TagsField,
    MarkdownHtml
  },
  props: {
    initValue: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      articleId: null,
      tags: [],
      processId: null,
      title: '',
      bodyText: '',
      latestSavedDate: null,
      editorMode: 'edit',
      inputedTag: null,
      visibleInputTag: false,
      tagMasters: []
    }
  },
  computed: {
    editMode() {
      if (this.initValue) return '記事編集'
      return '新規作成'
    },
    isCreated() {
      return this.articleId !== null
    },
    postBody() {
      return {
        title: this.title,
        tags: this.tags,
        body_html: this.bodyText,
        body: this.bodyText
      }
    },
    canPost() {
      if (this.title === '') return false
      if (this.bodyText === '') return false
      return true
    },
    panelClass() {
      let c = ['draft__panel']
      if (this.editorMode === 'preview') {
        c.push(c[0] + '--preview')
      }
      if (this.editorMode === 'edit') {
        c.push(c[0] + '--edit')
      }
      return c
    },
    ...mapState(['errorMessage', 'notification'])
  },
  mounted() {
    if (this.initValue) {
      this.articleId = this.initValue.articleId
      this.tags = this.initValue.tags || []
      this.title = this.initValue.title || null
      this.bodyText = this.initValue.body || ''
    }
    this.processId = window.setInterval(this.saveDraftWorker, 10 * 1000)
  },
  destroyed() {
    window.clearInterval(this.processId)
  },
  methods: {
    onCloseTag(tag) {
      const idx = this.tags.indexOf(tag)
      if (idx > -1) {
        this.tags.splice(idx, 1)
      }
    },
    onInputTag() {
      this.onSelectTag({ value: this.inputedTag })
    },
    onSelectTag(item) {
      console.log(item)
      if (item && !this.tags.includes(item.value)) {
        this.tags.push(item.value)
        this.tagMasters.push({ name: item.value })
        this.inputedTag = ''
      }
      this.visibleInputTag = false
    },
    async fetchTags(query, cb) {
      if (this.tagMasters.length === 0) {
        this.tagMasters = await this.$axios
          .$get('/tags/')
          .then(res => {
            return res.results
          })
          .catch(e => {
            return []
          })
      }
      console.log(query)

      let filtered = this.tagMasters
        .filter(v => this.tags.every(tag => tag !== v.name))
        .filter(v => query === null || v.name.includes(query))
        .map(v => {
          return { value: v.name }
        })
      console.log(filtered, cb)
      cb(filtered)
    },
    onClickViewMode(styleName) {
      if (this.editorMode === styleName) this.editorMode = 'default'
      else {
        this.editorMode = styleName
      }
    },
    editorModeButtonClass(styleName) {
      let c = ['el-button']
      if (this.editorMode === styleName) {
        c.push(c[0] + '--primary')
      }
      return c
    },
    async onPost() {
      const body = Object.assign({}, this.postBody)
      if (this.isCreated) {
        this.$axios
          .$patch(`/articles/${this.articleId}/`, body)
          .then(() => {
            this.$store.commit('notify/set', {
              message: '記事の保存に成功しました'
            })
            this.$router.push(`/articles/${this.articleId}/`)
          })
          .catch(e => {
            const code = e.response.status
            if (code === 401) {
              this.$store.commit('notify/set', {
                message: 'このファイルを保存する権限がありません'
              })
            }
            console.log(e.response)
          })
      } else {
        const result = await this.createNewArticle()
        if (result === 'success') {
          this.$router.push(`/articles/${this.articleId}/`)
        }
      }
    },
    async createNewArticle() {
      return this.$axios
        .$post('/articles/', this.postBody)
        .then(res => {
          this.articleId = res.id
          this.$store.commit('notify/set', {
            message: '記事の保存に成功しました'
          })
          return 'success'
        })
        .catch(e => {
          this.$store.commit('notify/set', {
            message: '記事の自動保存に失敗しました'
          })
        })
    },
    /**
     * 途中経過を保存する
     */
    saveDraftWorker() {
      if (!this.canPost) return
      if (!this.isCreated) {
        this.createNewArticle()
        return
      }
      this.$axios
        .$patch(`/articles/${this.articleId}/`, this.postBody)
        .then(() => {
          this.latestSavedDate = new Date()
        })
        .catch(e => {
          this.$axios
            .$post('/auth/token-refresh/', { token: this.$store.state.token })
            .then(res => {
              console.log('refresh success!')
              this.$store.commit('setToken', res.token)
            })
        })
    }
  }
}
</script>

<style>
.article-editor__container {
  height: calc(100vh - 48px);
  display: flex;
  flex-grow: 0;
}

.draft {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.draft__header__notify {
  margin-left: auto;
  color: rgb(138, 138, 138);
  font-size: 0.8rem;
}

.draft__header__title {
  display: flex;
  align-items: baseline;
  padding-bottom: 0.5rem;
}

.draft__header > input {
  padding: 0.2rem 0.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
}

.draft__header__row {
  display: flex;
  margin: 0 -5px;
}

.draft__header__row > * {
  margin: 5px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -5px;
}

.tag-container > * {
  margin: 5px;
}

.draft__body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.draft__panel {
  width: 50%;
  flex-shrink: 0;
  transition: all 0.3s;
}

.draft__panel.draft__panel--preview {
  width: 100%;
  flex-shrink: 0;
  transform: translateX(-100%);
  padding-right: 1px;
}

.draft__panel.draft__panel--edit {
  width: 100%;
}

.draft__panel textarea {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  resize: none;
  outline: none;
  line-height: 1.5;
  border: 2px solid #b2b5c845;
  border-radius: 4px;
  font-family: inherit;
  transition: border 0.3s;
}

.draft__panel textarea:focus {
  border-color: #6a6d8045;
}
.draft__footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: row-reverse;
}
</style>
