<template>
  <v-card
    hover
    class="py-2 px-3"
    @click.native="onClickCard">
    <v-container
      class="pa-0"
      grid-list-md>
      <v-layout
        row
        wrap>
        <v-flex xs12>
          <div class="article-card__header pt-2">
            <h4 class="headline">{{ value.title }}</h4>
            <span class="text--secondary pt-2 d-block">{{ value.updatedAt | prettyDateTime }} {{ value.author.name }}</span>
          </div>
        </v-flex>
        <v-flex xs12>
          <div
            v-if="value.tags.length > 0"
            class="transparent article-card__footer">
            <v-chip
              v-for="tag in value.tags"
              :key="tag"
              label
              text-color="white"
              color="primary"
              @click.stop="onClickTag(tag)">
              # {{ tag }}
            </v-chip>
          </div>
        </v-flex>
        <v-flex xs12>
          <div class="article-card__content">
            {{ value.description }}
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: null
    }
  },
  computed: {
    to() {
      return '/articles/' + this.value.id
    }
  },
  methods: {
    onClickCard() {
      this.$router.push(this.to)
    },
    onClickTag(t) {
      this.$router.push('/articles?tag=' + t)
    }
  }
}
</script>

<style lang="stylus" scoped>


.article-card
  &__header
    padding: 6px 0
    width: 100%

  &__content
    flex-grow 1
    font-size 1rem
    line-height 1.5
    height 4.5rem
    overflow hidden

  &__footer
    display flex
    flex-wrap wrap
</style>
