<template>
  <div
    :class="bodyClass"
    v-html="compiled"/>
</template>

<script>
import showdown from 'showdown'
// require('github-markdown-css/github-markdown.css')
require('@/assets/css/github-markdown.css')

import 'highlight.js/styles/github.css'
import showdownHighlight from 'showdown-highlight'
import showdownKatex from 'showdown-katex'
export default {
  props: {
    value: {
      type: String,
      default: null
    },
    fontFamily: {
      type: String,
      default: 'noto'
    }
  },
  data() {
    return {
      converter: null
    }
  },
  computed: {
    compiled() {
      if (this.converter) {
        return this.converter.makeHtml(this.value)
      }
    },
    bodyClass() {
      let c = ['markdown-body']
      c.push(this.fontFamily)
      return c
    }
  },
  mounted() {
    const options = {
      tables: true,
      tasklists: true,
      openLinksInNewWindow: true,
      emoji: true,
      simplifiedAutoLink: true,
      extensions: [
        showdownHighlight,
        showdownKatex({
          throwOnError: true,
          delimiters: [
            { left: '$', right: '$', display: false }, // katex default
            { left: '$$', right: '$$', display: false }, // katex default
            { left: '\\[', right: '\\]', display: true }, // katex default
            // { left: '\\(', right: '\\)', display: true }, // katex default
            { left: '\\(', right: '\\)', display: true } // katex default
          ]
        })
      ]
    }
    this.converter = new showdown.Converter(options)
    this.converter.setFlavor('github')
  }
}
</script>

<style>
.markdown-body {
  height: 100%;
}

.markdown-body p {
  margin: 0;
  padding-bottom: 0.5rem;
}

.markdown-body code {
  color: #e4215d;
  background-color: rgba(41, 123, 204, 0.05);
}

.markdown-body pre code {
  color: inherit;
  box-shadow: none;
  font-weight: 500;
}
</style>
