<template>
  <v-snackbar
    :value="existMessage"
    :timeout="5000"
    :multi-line="multiline"
    :color="type"
    bottom
    left
    @input="clearNotify">
    {{ message }}
  </v-snackbar>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState('notify', ['message', 'type', 'multiline']),
    ...mapGetters('notify', ['existMessage'])
  },
  methods: {
    closeSnackbar() {
      this.$store.commit('notify/clear')
    },
    ...mapMutations({ clearNotify: 'notify/clear' })
  }
}
</script>
