<template>
  <v-autocomplete
    v-model="selected"
    :items="candidateTags"
    :search-input.sync="searchWords"
    :loading="isUpdating"
    chips
    multiple>
    <v-list-tile
      slot="no-data"
      @click="onClickAddItem">
      <v-list-tile-content>
        新しいタグを作成
      </v-list-tile-content>
    </v-list-tile>
  </v-autocomplete>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      items: [],
      isUpdating: false,
      searchWords: null,
      newTags: []
    }
  },
  computed: {
    selected: {
      set(v) {
        if (!this.value) {
          this.$emit('input', [v])
          return
        }
        this.$emit('input', v)
      },
      get() {
        if (!this.value) return []
        return this.value.slice()
      }
    },
    candidateTags() {
      return this.items.concat(this.newTags)
    }
  },
  watch: {
    searchWords(val) {
      if (!val) return
      // 既にタグ候補が読み込まれていたらなにもしない
      if (this.items && this.items.length > 0) return
      this.fetch()
    }
  },
  mounted() {
    this.fetch()
  },
  methods: {
    fetch() {
      this.isUpdating = true
      this.$axios
        .$get('tags/')
        .then(res => {
          this.items = res.results.map(v => v.name)
        })
        .then(() => {
          this.isUpdating = false
        })
    },
    onClickAddItem() {
      const newItems = this.selected.slice()
      newItems.push(this.searchWords)
      this.newTags.push(this.searchWords)
      this.$emit('input', newItems)
      this.searchWords = null
    }
  }
}
</script>
