<template>
  <article-editor/>
</template>

<script>
import ArticleEditor from '@/components/ArticleEditor'
import { Editor, EditorContent } from 'tiptap'

export default {
  components: {
    EditorContent,
    ArticleEditor
  },
  middleware: ['auth'],
  data() {
    return {
      editor: null
    }
  },
  mounted() {
    this.editor = new Editor({
      content: 'heloo'
    })
  }
}
</script>
