<template>
  <v-app class="white">
    <v-toolbar
      app
      color="primary darken-1"
      dark
      dense
      style="z-index: 10">
      <v-toolbar-title @click="onClickTitle">
        POST IT
      </v-toolbar-title>
      <v-spacer/>
      <v-toolbar-items v-if="tokenObject">
        <v-menu left>
          <v-btn
            slot="activator"
            flat>{{ userName }}</v-btn>
          <v-list
            style="min-width: 200px">
            <v-list-tile
              @click="onClickProfile">
              <v-list-tile-action>
                <v-icon>face</v-icon>
              </v-list-tile-action>
              <v-list-tile-sub-title>Profile</v-list-tile-sub-title>
            </v-list-tile>
            <v-list-tile to="/settings">
              <v-list-tile-action>
                <v-icon>settings</v-icon>
              </v-list-tile-action>
              <v-list-tile-sub-title>設定</v-list-tile-sub-title>
            </v-list-tile>
            <v-divider/>
            <v-list-tile
              @click="onClickLogout">
              <v-list-tile-sub-title>Logout</v-list-tile-sub-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
      <template v-else>
        <v-btn
          to="/login"
          dense
          flat>
          LOGIN
        </v-btn>
      </template>
    </v-toolbar>
    <v-content>
      <nuxt/>
    </v-content>
    <notify-snackbar/>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    isEdittingPage() {
      const path = this.$route.path
      return path.startsWith('/drafts')
    },
    mainClass() {
      if (this.isEdittingPage) {
        return 'main--editting'
      }
    },
    userName() {
      if (!this.tokenObject) return null
      return this.tokenObject.username
    },
    ...mapGetters('auth', ['tokenObject'])
  },
  methods: {
    onClickTitle() {
      this.$router.push('/')
    },
    onClickProfile() {
      this.$router.push('/' + this.userName)
    },
    onClickLogout() {
      this.$store.commit('auth/setToken', null)
      this.$router.push('/login')
    }
  }
}
</script>
