<template>
  <v-app class="blue-grey darken-4">
    <v-content>
      <v-container
        fill-height>
        <v-layout
          class="pt-3"
          fill-height
          column
          align-center>
          <v-icon
            color="white"
            size="50">local_library</v-icon>
          <div class="py-3">
            <h1 class="white--text display-0 font-weight-light">Log In to Awesome Qiita</h1>
          </div>
          <v-card
            style="max-width: 350px"
            width="100%">
            <nuxt/>
          </v-card>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      colorSets: ['primary', 'blue darken-4', 'orange darken-4'],
      currentColorIndex: 0
    }
  },
  computed: {
    themeColor() {
      return this.colorSets[this.currentColorIndex]
    },
    isSmAndDown() {
      return this.$vuetify.breakpoint.smAndDown
    },
    titleStyle() {
      if (this.isSmAndDown) return {}
      return {
        transform: 'translateY(-50px)'
      }
    }
  },
  mounted() {
    window.setInterval(this.toggleColor, 5000)
  },
  methods: {
    toggleColor() {
      this.currentColorIndex += 1
      if (this.currentColorIndex === this.colorSets.length) {
        this.currentColorIndex = 0
      }
    }
  }
}
</script>

<style scoped>
.login__theme-container {
  transition: all 2s;
}
</style>
