<template>
  <div>
    <v-jumbotron
      color="primary"
      dark>
      <v-container fill-height>
        <v-layout
          fill-height
          column
          justify-center>
          <div>
            <v-layout
              row>
              <v-layout
                column
                justify-center>
                <h2 class="display-1">{{ username }}</h2>
              </v-layout>
            </v-layout>
          </div>
        </v-layout>
      </v-container>
    </v-jumbotron>
    <v-container
      class="pt-0"
      grid-list-md
      style="margin-top: -150px">
      <v-layout
        row
        wrap>
        <v-flex
          v-for="item in articles"
          :key="item.id"
          xs12
          sm6
          md4>
          <article-card :value="item"/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>

</template>

<script>
import ArticleCard from '@/components/ArticleCard'
import AccountPanel from '@/components/AccountPanel'
export default {
  components: {
    AccountPanel,
    ArticleCard
  },
  data() {
    return {
      profileBackground: null,
      activeTabName: 'article'
    }
  },
  async asyncData({ app, params }) {
    const username = params.username
    const response = await app.$axios
      .$get('/articles/', {
        params: {
          author: username
        }
      })
      .then(res => {
        return {
          username: username,
          articles: res.results
        }
      })
    return response
  }
}
</script>
