<template>
  <div>
    <v-jumbotron
      color="primary"
      dark>
      <v-container
        fill-height>
        <v-layout
          fill-height
          justify-center
          column>
          <div>
            <h1 class="display-2">Post Your Ideas</h1>
            <span class="pt-3 subheading">awesome post it web application</span>
          </div>
        </v-layout>
      </v-container>
    </v-jumbotron>
    <v-container
      grid-list-lg
      style="position: relative">
      <v-btn
        absolute
        dark
        fab
        top
        right
        to="/drafts/new"
        color="accent">
        <v-icon>add</v-icon>
      </v-btn>
      <v-subheader>投稿一覧</v-subheader>
      <v-layout
        row
        wrap>
        <v-flex
          v-for="item in articles"
          :key="item.id"
          sm6
          xs12>
          <article-card :value="item"/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import ArticleCard from '@/components/ArticleCard'

export default {
  components: {
    ArticleCard
  },
  data() {
    return {
      articles: []
    }
  },
  async asyncData({ app, store, redirect }) {
    const retval = {}
    retval['articles'] = await app.$axios
      .$get('/articles/')
      .then(res => {
        return res.results
      })
      .catch(e => {
        return null
      })
    return retval
  },
  methods: {
    onClickArticle(article) {
      this.$router.push(`/articles/${article.id}/`)
    }
  }
}
</script>
