<template>
  <div class="login-panel px-4 pt-2 pb-3">
    <v-text-field
      v-model="userName"
      prepend-icon="face"
      placeholder="ユーザー名"/>
    <v-text-field
      v-model="password"
      prepend-icon="lock_outline"
      type="password"
      placeholder="パスワード"
      @keypress.enter="onClickLogin"/>
    <footer class="login-panel__footer">
      <v-btn
        :loading="loading"
        depressed
        block
        class="btn"
        color="primary"
        @click="onClickLogin">Login</v-btn>
    </footer>
    <div
      v-if="showAlart"
      ref="alart"
      class="alart-message"
      style="margin-right: auto">
      <v-alert
        :value="true"
        :closable="false"
        type="error" >
        パスワード or ユーザー名が違います
      </v-alert>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'login',
  data() {
    return {
      password: '',
      userName: '',
      showAlart: false,
      loading: false
    }
  },
  methods: {
    async onClickLogin() {
      this.loading = true
      const payload = {
        password: this.password,
        username: this.userName
      }
      this.$axios
        .$post('/auth/login/', payload)
        .then(res => {
          this.$store.commit('auth/setToken', res.token)
          this.$router.push('/')
        })
        .catch(e => {
          this.showAlart = true
          window.setTimeout(this.shakeAlart, 100)
        })
        .then(() => {
          this.loading = false
        })
    },
    shakeAlart() {
      window.$micron
        .getEle('.alart-message')
        .interaction('bounce')
        .duration('.5')
        .timing('ease-out')
    }
  }
}
</script>

<style>
.login-panel__title {
  padding-top: 1rem;
}

.login-panel__title--sub {
  font-size: 0.9rem;
  color: #444;
}

.login-panel__footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
</style>
