<template>
  <v-container grid-list-md>
    <h2 class="display-2 py-4">Settings</h2>
    <v-layout
      row
      wrap>
      <v-flex xs12>
        <v-layout
          justify-center>
          <div
            style="max-width: 100%; width: 500px;">
            <account-panel v-model="account"/>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AccountPanel from '@/components/AccountPanel'

export default {
  components: {
    AccountPanel
  },
  middleware: ['auth'],
  asyncData({ app }) {
    return app.$axios.$get('accounts/me/').then(res => {
      return {
        account: res
      }
    })
  },
  computed: {},
  methods: {}
}
</script>
