<template>
  <div>
    <article-editor
      :init-value="initValue"/>
  </div>
</template>
<script>
import ArticleEditor from '@/components/ArticleEditor'
export default {
  head() {
    return {
      title: '記事の編集'
    }
  },
  middleware: ['auth'],
  components: {
    ArticleEditor
  },
  async asyncData({ app, params }) {
    const articleId = params.articleId
    const response = await app.$axios
      .$get(`/articles/${articleId}/`)
      .then(res => {
        return res
      })
    if (response) {
      response['articleId'] = articleId
      return {
        initValue: response
      }
    }
  }
}
</script>
